@model CartProductsQueryModel

<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
    <div scope="col" class="col-3 d-flex flex-row" style="padding-left: 0%;">>
        <input asp-for="Id" id="cartProductId" type="hidden" />
        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductId">
            <img src="@Model.ProductImageUrl" width="50" height="50">
        </a>
        <div class="ml-2">
            <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductId">
                @Model.ProductName
            </a>
        </div>
    </div>
    <div class="d-block ml-6 font-weight-bold">
        <input asp-for="Price" style="text-align:center;" id="price" readonly class="form-control-plaintext" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="d-flex flex-row align-items-center">
        <div class="col-2 ml-5">
            <select asp-for="Size" class="form-control" id="size"
                    onchange="changeSize(this,'@Url.Action("EditSize", "Cart")')">
                @if (Model.SizeQuantities.FirstOrDefault(x => x.Size == ProductSize.S).Quantity > 0)
                {
                    <option>S</option>
}
                @if (Model.SizeQuantities.FirstOrDefault(x => x.Size == ProductSize.M).Quantity > 0)
                {
                    <option>M</option>
}
                @if (Model.SizeQuantities.FirstOrDefault(x => x.Size == ProductSize.L).Quantity > 0)
                {
                    <option>L</option>
}
            </select>
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <div class="ml-5 col-5 row">
            <div class="col-1">
                <a asp-controller="Cart"
                   asp-action="EditQuantity"
                   asp-route-id="@Model.Id"
                   asp-route-quantity="@(Model.Quantity - 1)"
                   class="btn btn-outline-secondary @(Model.Quantity <= 1 ? "disabled" : "" )">-</a>
            </div>
            <div class="col-4" style="padding-left: 7%; padding-right: 0%;">
                <input asp-for="Quantity" style="text-align:center;" id="quantity" type="text" readonly class="form-control" />
            </div>
            <div class="col-1" style="padding-left: 0%;">
                <a asp-controller="Cart"
                   asp-action="EditQuantity"
                   asp-route-id="@Model.Id"
                   asp-route-quantity="@(Model.Quantity + 1)"
                   class="btn btn-outline-secondary @(Model.Quantity == Model.MaxQuantityAvailable ? "disabled" : "" )">+</a>
            </div>
        </div>
        <div class="d-block ml-4 font-weight-bold col-2">
            <input asp-for="ProductTotalPrice" style="text-align: center;" id="totalPrice" readonly class="form-control" value="@Model.ProductTotalPrice.ToString("0.00$")" />
            <span asp-validation-for="ProductTotalPrice" class="text-danger"></span>
        </div>
        <div>
            <a asp-controller="Cart" asp-action="Delete" asp-route-id="@Model.Id" id="delete-btn" onclick="preventDoubleClick()" class="btn btn-danger">X</a>
        </div>
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function preventDoubleClick() {
        var btn = document.getElementById("delete-btn");

        btn.disabled = true;
    }

    function changeSize(item, baseUrl) {
        var size = document.getElementById("size");
        var cpId = document.getElementById("cartProductId");

        window.location.href = baseUrl + '?id=' + cpId.value + '&size=' + size.value;  //where to go
    }
</script>